html {
  height: 100%;
}

body
{
  background: linear-gradient(#000a35, #3688bc);
  overflow: hidden;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #39acd6;
  font-size: 1.3em;
  margin: 0;
  height: 100%;
  background-attachment: fixed;
}


#logo {
	position: absolute;
    top: 15%;
    left: 10px;
    height: 80%;
    width: 40%;
}

input {
  	font-family: "Roboto", sans-serif;
  	background: #f1f1f1;
  	width: 100%;
  	border: 0;
  	margin: .8% 0;
  	padding: 2.8%;
  	box-sizing: border-box;
  	font-size: 70%;
}

#button {
  	font-family: "Roboto", sans-serif;
  	text-transform: uppercase;
  	background: #3c9cbc;
  	width: 100%;
  	border: 0;
  	margin-top:10px;
  	padding: 4.2% ;
  	color: #FFFFFF;
  	font-size: 78%;
  	cursor: pointer;
}

#button:hover {
  background: #2a738c;
}
.heading
{
	font-size: 90%;
	padding: 0px 0;
	color: white;
	background-color: #3c9cbc;
}
.choices
{
	color: #006a91;
	background-color: #00061e;
	margin:  2% 3%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5), 0 7px 7px 0 rgba(0, 0, 0, 0.30);
}



